<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <ul class="nav nav-pills nav-justified">
        <li><a href="#list">API List</a></li>
        <li><a href="#history" class="active">History</a></li>
      </ul>
      <div class="tab-content">
        <div id="list" class="tab-pane fade">
          api-list
        </div>
        <div id="history" class="tab-pane active">
          <test-list (onSelected)="testForm.setTest($event)" #testList></test-list>
        </div>
      </div>
    </div>
    <div class="col-sm-9">
      <test-form (onSubmitted)="testList.create($event)" #testForm></test-form>
    </div>
  </div>
</div>